BOT_TOKEN=your_telegram_bot_token
ADMIN_PASSWORD=change_me
ADMIN_PORT=3000
SESSION_SECRET=replace_with_random_string
LEADS_CHAT_ID=123456789
ADMIN_CHAT_IDS=123456789,987654321
DATA_FILE=./data/db.json
